{% extends "PlanningBundle::layout.twig" %}

{% block content %}

<p>
  {% trans %}Planning is an application dedicated to manage timetables of your organization.{% endtrans %}
</p>


<form action="{% path "doctrine_user_session_create" %}" {{ form|render_enctype }} method="POST" class="user_session_new">
    <p>
        {% trans "Login or" %} <a href="{% path "doctrine_user_user_create" %}">{% trans "create an account" %}</a>!
    </p>
    {{ form|render_errors }}
    {{ form|render_hidden }}

    <p>
        {{ form.usernameOrEmail|render_label('Email') }}
        {{ form.usernameOrEmail|render_errors }}
        {{ form.usernameOrEmail|render }}
    </p>

    <p>
        {{ form.password|render_label }}
        {{ form.password|render }}
        {{ form.password|render_errors }}
    </p>

    <p>{{ form.rememberMe|render }} {{ form.rememberMe|render_label('Remember me') }}</p>

    <p><input type="submit" value="{% trans "Login" from "PlanningBundle" %}" /></p>
</form>
{% endblock %}